*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: #6A5ACD;
  font-family: Arial, sans-serif;
}

body img{
  margin-left: 30px;
}
.page{
  position: relative;
  top:-150px;
  height:1000px;
}

.form{
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: 100px;
}

.landing-form{
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 10px;
  width:500px;
  box-shadow: -5px 5px #483D8B;
}

.form-row{
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

.form-row input[type='text'],
.form-row input[type='email']{
  font-size: 14px;
  padding:10px;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  width:400px;
  background-color: #DCDCDC;
}

.form-row input[type='email']:invalid{
  border: 2px solid #FF0000;
}

.form-row button{
  background-color: #FFC300;
  font-weight: bold;
  text-align: center;
  border: none;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  outline: none;          /* to remove black border around button when clicked */
}

.form-row:last-of-type{
  text-align: left;
  margin-left: 38px;
}

.heading{
  padding:30px;
  text-align: left;
  margin-left: 19px;
  font-weight: bold;
}

.form-row button:hover{
  text-decoration: none;
  background-color:	#FFD700;
}

.form-row button:active{
  background-color: #DAA520;
}

a{
  text-decoration: none;
  color: #000000;
}

.menu{
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  margin-top: 50px;
  font-weight: bold;
}


.menu-items>li{
  display: inline;
  list-style: none;
  margin-right: 50px;
}

.menu-items a:hover{
  color:#fff;
}

.dropdown:hover .options{
  width:200px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding-top: 60px;
  position: absolute;
  background-color: #E6E6FA;
  top: -25px;
  left: -25px;
}

.options{
  display: none;
}
.options li{
  font-size: 16px;
  list-style: none;
  border-bottom: 1px solid #000000;
  margin: 10px;
  padding: 0 40px 10px 20px;
}

.options li>a:hover{
  text-decoration: underline;
  color: #000000;
}

.options li:last-of-type{
  border-bottom: none;
}

.dropdown{
  position: relative;
}

.dropdown>span{
  position: relative;
  z-index: 2;
}

.container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: -150px;
  left: 15px;
  width: 60%;
}

.container>.photo img{
  border-radius: 50%;
  width:160px;
  height:200px;
  border: 3px solid #E6E6FA;
  margin-left: 30px;
}

.container .text{
  padding-left: 20px;
  color: #ffffff;
}

.content p{
  padding-top: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: justify;
  color: #FAEBD7;
}

.text p{
  font-weight: bold;
  padding: 2px;
}

.content{
  text-align: left;
  width: 50%;
  margin-top: 90px;
  padding-left: 50px;
  float: left;
}

.content h2{
  color: #ffffff;
  padding-bottom: 15px;
}

.clients{
  text-align: center;
  color: #ffffff;
}

.card-container{
  display:flex;
  justify-content: space-around;
}

.card{
  perspective: 600px;
  height:200px;
  width:350px;
  background: #FFA07A;
  border-radius: 10px;
  margin-top: 40px;
}

.card-inner{
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  height:100%;
  width:100%;
}


.card-front,
.card-back{
  position: absolute;
  backface-visibility: hidden;
  width:100%;
  height:100%;
}

.card-inner:hover{
  transform: rotateY(180deg);
}

.card-back{
  transform: rotateY(180deg);
}

.card-front img{
  margin-top:50px;
}

.card-back .text{
  margin-top: 70px;
  font-style: italic;
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
}

.gift{
  height:80px;
  margin-top: 100px;
  margin-right: 40px;
}

.client-logos{
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.client-logos img{
  margin-right: 30px;
  margin-top: 30px;
}

.contacts{
  text-align: center;
  color: #ffffff;
  margin-top: 90px;
}

.social-media{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.social-media img{
  margin-right: 30px;
}

.footer{
  margin-top:100px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}
